body{
font-family:Arial;
background:#f2f2f2;
text-align:center;
margin-top:40px;
}

.container{
background:white;
width:350px;
margin:auto;
padding:20px;
border-radius:10px;
box-shadow:0 0 10px gray;
}

input{
padding:10px;
margin:8px;
width:90%;
}

button{
padding:8px 12px;
margin:5px;
background:#4CAF50;
color:white;
border:none;
cursor:pointer;
}

button:hover{
background:#45a049;
}

li{
list-style:none;
margin:10px;
}

.hidden{
display:none;
}